@model IEnumerable<Rental.Models.Testimonial>

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}

<h2>Testimonial Index</h2>
<br />
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                @* <p class="card-title"><a asp-action="Create">Create New</a></p> *@
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="example" class="display expandable-table" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>
                                             Name
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Message)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Date)
                                        </th>
                                        @* <th>
                                            Is Deleted
                                        </th> *@
                                        @* <th>
                                            Testimonial Status
                                        </th>
                                         *@
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                            @foreach (var item in Model) {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.User.FirstName)
                                            @Html.DisplayFor(modelItem => item.User.LastName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Message)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Date)
                                        </td>
                                        @* <td>
                                            @Html.DisplayFor(modelItem => item.IsDeleted)
                                        </td> *@
                                        @* <td>
                                            @Html.DisplayFor(modelItem => item.TestimonialStatus)
                                        </td> *@
                                        
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.TestimonialID">Edit</a> |
                                            <a asp-action="Details" asp-route-id="@item.TestimonialID">Details</a> |
                                            <a asp-action="Delete" asp-route-id="@item.TestimonialID">Delete</a>
                                        </td>
                                    </tr>
                            }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

